@import "tailwindcss";

body {
  margin: 0px;
  padding: 10px;
}

.border-shadow {
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.input-field {
  border: 1px solid grey;
  height: 40px;
  border-radius: 5px;
  width: 30vw;
  padding: 2px 5px;
}

.button {
  background-color: #020618;
  border-radius: 5px;
  padding: 8px;
  font-weight: bold;
  color: white;
  cursor: pointer;
}

.toggle-btn {
  border: 1px solid grey;
  border-radius: 5px;
  padding: 8px;
  cursor: pointer;
}

.vertical-line {
  border: 1px solid grey;
}

.active-view {
  color: whitesmoke;
  background-color: #020618;
  border-radius: 5px;
}

.list-item {
  display: flex;
  gap: 20px;
  width: 100%;
  padding: 5px;
  margin: 3px;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.card-view {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  cursor: pointer;
}

.card-item {
  background: white;
  border-radius: 10px;
  padding: 16px;
  text-align: center;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

.list-column {
  width: 20%;
}

.save-btn {
  width: 100%;
}

.add-product-container {
  width: max-content;
  margin: auto;
}

.text-area-field {
  width: 62vw;
  height: 80px;
}

.error-msg {
  color: red;
  font-size: 14px;
}

label {
  color: grey;
  font-size: 14px;
  margin-left: 2px;
}

.back-btn {
  background-color: black;
  color: white;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
}

.no-data-found {
  width: max-content;
  padding: 20px;
  margin: auto;
  font-size: xx-large;
  font-weight: bold;
  border-radius: 5px;
  margin-top: 20vh;
}

/* pagination styles */
.pagination {
  display: flex;
  list-style: none;
  gap: 8px;
  padding: 0;
  margin-top: 20px;
  justify-content: center;
}

.page-item {
  width: 30px;
  height: 40px;
  background: #f2f2f2;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.page-item:hover {
  background: #e0e0e0;
}

.page-item.active {
  background: #020618;
  color: white;
}

.page-link {
  display: block;
  width: 100%;
  height: 100%;
  line-height: 40px;
  text-align: center;
  color: inherit;
  text-decoration: none;
}